@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@media screen and (max-width: 600px) {

  .history h3{
    text-align: left;
  }
  .gen-symb-tag{
    font-size: 0.86em;
  }
  .history-container {
    background-color: white;
  }

  .history-day .day-header{
    font-size: 0.96em;
    padding-top: 10px;
  }
  .history-row-entry *{
    font-size: 0.94em ;
  }
  .history-row-entry img {
    height: 20px;
  }

}