@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

.mob-trackercontent {
  flex-grow: 1;
  display: flex;
}
.mob-trackrecords-past,
.mob-trackrecords-current {
  height: 100%;
  width: 100%;
  text-align: left;
  padding-left: 10px;
}
.mob-trackrecords-past {
}

.mob-trackrecords-current {
}
