@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

.fill {
  flex-grow: 1;
}

.mx-pmform {
  display: flex;
  background-color: red;
  flex-direction: column;
  height: 95%;
}

.mx-pmform-header {
  flex-grow: 1;
  background-color: aliceblue;
}

.mx-pmform-body {
  display: flex;
  background-color: red;
  flex-direction: column;
}

.mx-pmform form > div {
  display: flex;
  flex-direction: column;
}

.mx-pmform .icon-select {
  display: flex;
}

.mx-pmform img {
  aspect-ratio: 1;
  max-height: 60px;
  border-radius: 50%;
}
