@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

body {
  font-family: "Poppins", sans-serif;
}



.main-container {
  max-width: 90%;
  display: flex;
}

/* navigation to the left  START*/
.left-nav {
  width: 25%;
  height: 100vh;
  max-width: 210px;
  background-color: rgb(141, 201, 201);
  overflow: hidden;

}

.left-nav>a {
  display: block;
  padding: 15px;
}

.left-nav>a>img {
  height: 170px;
  border-radius: 50%;
}

.left-nav>a>h2{
  text-align: center;
  color: snow;
  margin-bottom: 50px;
}


/* navigation ends here */


/* content to the right/main content  START*/
.main-content {
  padding: 20px 15px 0 30px;
  min-width: 60%;
  border-right: 2px solid red;
}


h1 {
  position: relative;
  left: 20px;
}

.balance-container {
  display: flex;
  justify-content: space-evenly;
}

.balance {
  text-align: center;
  width: 30%;
  padding: 8%;
  margin: 12px 0;
  border-radius: 40px;
  background-color: aliceblue;
}

hr {
  border: 1px solid lightgray;
  margin: 20px 0;
}

/* mid section */


.mid-section{
  display: flex;
}
.progress-box{
  display: grid;
}

.remainder-box{}
.total-bothcurrencies{
}
