@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

body {
  font-family: "Poppins", sans-serif;
  max-height: 100vh;
}

.main-container {
  max-width: 90%;
  display: flex;
}

/* navigation to the left  START*/

.left-nav {
  width: 25%;
  height: 100vh;
  max-width: 210px;
  background-color: rgb(141, 201, 201);
  overflow: hidden;
}

.left-nav > a {
  display: block;
  padding: 15px;
}

.left-nav > a > img {
  height: 170px;
  border-radius: 50%;
}

.left-nav > a > h2 {
  text-align: center;
  color: snow;
  margin-bottom: 50px;
}

/* navigation ends here */

/* content to the right/main content  START*/

.main-content {
  overflow: hidden;
  max-height: 100vh;
  padding: 20px 15px 0 0;
  min-width: 60%;
  border-right: 2px solid red;
}

h1 {
  position: relative;
  left: 20px;
}

.balance-container {
  display: flex;
  justify-content: space-evenly;
}

.balance {
  text-align: center;
  width: 30%;
  padding: 8%;
  margin: 12px 0;
  border-radius: 40px;
  background-color: aliceblue;
}

hr {
  border: 1px solid lightgray;
  margin: 20px 0;
}

/* mid section */

.mid-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.progress-group {
  display: flex;
  gap: 15px;
}

.progress-box {
  display: flex;
  justify-content: space-between;
  max-height: 50px;
}

.remainder-box {
  font-size: 0.9em;
}

.total-bothcurrencies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.total-bothcurrencies > div {
  text-align: center;
  font-size: 0.8em;
}
/* -------------------------------------pm section---------------------- */
.pm-box {
  min-width: 100%;
  min-height: 100%;
  margin-top: 30px;
  padding-top: 30px;
  padding-left: 20px;
  background-color: aliceblue ;
  border-top-left-radius: 6% ;
  border-top-right-radius: 6%;
}
