@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}
html{
  overscroll-behavior-y: none;
}

:root {
  --blue: #0056a1;
}

body {
  overscroll-behavior-y: none;
  font-family: "Poppins", sans-serif;
}
.content-edit:focus {
  outline: none;
  color: var(--blue);
}
 img {
  aspect-ratio: 1;
  border-radius: 50%;


}

.main-parent {
  width: 100vw;
  display: flex;
  height: 100vh;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

/* navigation to the left  START*/

/* navigation ends here */

/* content to the right/main content  START*/

.main-view,
.main-view-skin {
  min-width: 54%;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  height: 100%;
}

.main-view img{
 max-width: 70px;
}
.main-view-skin {
  padding-top: 5px;
  min-width: 54%;
  border-right: 2px solid lightgray;
}

h1 {
  position: relative;
  left: 20px;
}

.fill {
  flex-grow: 1;
}

.balance-container {
  display: flex;
  justify-content: space-evenly;
}

.balance {
  text-align: right;
  width: 22%;
  padding: 2%;
  margin: 5px 0;
  /* border-radius: 30px;
  background-color: aliceblue; */
}
.frozen-in-balance {
  color: grey;
  font-size: 0.7em;
  display: grid;

  grid-template-columns: 1fr 3fr;

  gap: 0 5px;
  max-width: 50%;
  margin-left: auto;
}

hr {
  border: 1px solid lightgray;
  margin: 20px 0;
}

/* mid section */

.progress-total-all-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.progress-group {
  display: flex;
  gap: 15px;
}

.progress-box {
  display: flex;
  justify-content: space-between;
  max-height: 50px;
}

.total-bothcurrencies {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 0.7em;
  gap: 0 2px;
}

.mid-labels,
.mid-values {
  color: grey;
}

/* -------------------------------------pm section---------------------- */
.pm-box {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;

  padding-top: 10px;
  padding-bottom: 20px;

  background-color: aliceblue;
  border-top-left-radius: 6%;
  border-top-right-radius: 6%;
}
.pm-box > hr {
  margin: 5px 0;
  border: 1px solid lightgray;
}
.pm-box > .entry-title {
  padding-left: 30px;
  margin-bottom: 15px;
}

.pm-box > .toolbar {
  display: flex;
  padding: 0 10px 0 10px;
}
.toolbar > div {
  display: flex;
}
.toolbar-left,
.toolbar-right {
  min-width: 40%;
  justify-content: space-between;
}

.toolbar > .toolbar-right {
  margin-left: auto;
}
.toolbar > .toolbar-left {
  margin-right: auto;
}

.entry-head {
  display: grid;
  grid-template-columns: 38% repeat(3, 1fr);
  gap: 3px;
}

.entry-head > div {
  padding-left: 15px;
}

.div-with-name-and-count {
  display: inline-flex;
  gap: 5px;
}

.div-with-name-and-count .pmcount {
  font-size: 0.62em;
  display: inline-grid;
  place-content: center;
  height: 15px;
  aspect-ratio: 1;
  color: aliceblue;
  transform: translateY(30%);

  background-color: var(--blue);
  border-radius: 50%;
}
.entries-main-body {
  flex-grow: 1;
  overflow: auto;
}

.entries-main-body::-webkit-scrollbar {
  display: none;
}

.entry-row:first-child {
  padding-top: 8px;
}

.entry-row .edit-button {
  margin-right: 10px;
  transition: font-size 0.1s, stroke 0.5s;
}

.entry-row .edit-button:hover {
  stroke: darkgrey;
  font-size: 18px;
}
.entry-row > div:nth-child(1) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.entry-row > div:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.entries-name-Y-icon {
  display: flex;
  gap: 10px;
}
.entries-name-Y-icon > img {
  width: 25px;
}
.entries-name-Y-icon span {
  white-space: nowrap;
  flex-shrink: 2;
}

.div-with-contenteditable {
  display: flex;
  font-size: 0.95em;
}

.div-with-contenteditable span {
  font-size: 0.85em;
  padding-top: 2.5%;
}

.footer-formobile {
  padding: 10px 20px 10px 0;
}

.moreoptions-box {
  display: flex;
  gap: 15px;
}

.moreoptions-img {
  width: 30px;
}

/* ..............PC...............MEDIA QUERIES */
@media screen and (min-width: 901px) {
  #mid-entrybox .entry-row {
    display: grid;
    grid-template-columns: 38% repeat(3, 1fr);
    gap: 3px;
  }

  .entry-row > div {
    background-color: white;
    border: 1px solid aliceblue;
    border-radius: 30px;
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 2px;
  }
}

/*..................................media query end for pc */

/* ...............MOB-PHONES...............MEDIA QUERIES */
@media screen and (max-width: 600px) {
  .mob-entryrow-box-x-flex {
    display: flex;
    gap: 15px;
  
    width: 100%;
    background-color: white;
  }


  #mid-entrybox .entry-row {
    display: flex;
  }
  .mob-figures-box-y-flex {
    background-color: white;
    flex-grow: 1;
  }


  .mob-figures-box-y-flex > div {
    display: flex;
    justify-content: space-between;
 
  }
  .mob-entry-blur{
    padding-left: 10px;
  }
  .mob-entry-blur *{
    color: gray;
    font-size: 0.7em;
   
  }

  .content-edit{
    font-size: 1em;
  }

  .content-edit:focus {
    font-size: 1.1em;
  }
  .mob-entry-blur .content-edit{
    font-size: 1em;
  }
  .mob-entry-blur .content-edit:focus {
   font-size: 1.2em;
  }


  .mob-entryrow-box-x-flex > img {
    width: 30px;
    height: 30px;
  }

  .mob-entry-available-balance .mob-entry-label{
    display: flex;
  }
  .mob-entry-floating-number {
    font-size: 0.6em;
  }

  .div-with-name-and-count {
    margin-left: 50px;
  }
}

/* ..........................................MEDIA QUERIES */

@media screen and (max-width: 900px) {
  .main-view-skin {
    border: none;
  }
  .main-view,
  .main-view-skin {
    min-width: none;
    width: 96vw;
    overflow: hidden;
    position: relative;
    height: 100%;
    margin: 0 auto;
  }
  .entry-head {
    font-size: 0.9em;
    grid-template-columns: 45% repeat(3, 1fr);
  }
  #mid-entrybox .entry-row {
    gap: 0;
    grid-template-columns: 45% repeat(3, 1fr);
  }
  .entry-row > div {
    border-radius: 0;
   padding: 10px 10px 3px 15px;
    margin-bottom: 1.5px;
  }

}
